 *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* 添加一些基本的样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #879278, #879278,#dcb886,#e7ba79);
}

h2{
    text-align: center;
}

/* 设置页面布局 */
.rm {
    width: 60%;
    margin: 20px auto;
}

/* 设置列表项样式 */
ul {
    list-style-type: none;
    padding: 0;
}

/* 设置链接样式 */
a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease; /* 添加颜色渐变过渡效果 */
}

a:hover {
    color: #007bff; /* 鼠标悬停时改变颜色 */
}

/* 设置列表项样式 */
li {
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.rm .plq h3{
    margin-top: 100px;
}


#comments {
    max-width: 600px;
    margin: 0 auto;
}

.comment {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.comment p {
    margin: 0;
    font-size: 16px;
}

.comment button {
    background-color: skyblue;
    border: none;
    color: black;
    padding: 2px 10px;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}

#commentInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    background-color: bisque;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: burlywood;
}
